{% extends "index.html" %}
{% load static %}

{% block content %}
<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2">{{ header }}</h2>
            </div>
        </div>
        <ul class="row gallery_tabs" style="flex-wrap: nowrap;">
            <li data-filter="school">Школьный зал</li>
            <li class="active" data-filter="white">Белый зал</li>
            <li data-filter="grey">Серый зал</li>
        </ul>
    </div>
    <div class="gallery_wrapper">
        <div class="gallery_item school hide">
            <img src="{% static 'images/location/school/1.jpg' %}" alt="Школьный зал">
        </div>
        <div class="gallery_item school hide">
            <img src="{% static 'images/location/school/2.jpg' %}" alt="Школьный зал">
        </div>
        <div class="gallery_item school hide">
            <img src="{% static 'images/location/school/3.jpg' %}" alt="Школьный зал">
        </div>
        <div class="gallery_item school hide">
            <img src="{% static 'images/location/school/4.jpg' %}" alt="Школьный зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/1.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/2.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/3.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/4.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/5.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/6.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/7.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item white">
            <img src="{% static 'images/location/white/8.jpg' %}" alt="Белый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/1.jpg' %}" alt="Серый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/2.jpg' %}" alt="Серый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/3.jpg' %}" alt="Серый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/4.jpg' %}" alt="Серый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/5.jpg' %}" alt="Серый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/6.jpg' %}" alt="Серый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/7.jpg' %}" alt="Серый зал">
        </div>
        <div class="gallery_item grey hide">
            <img src="{% static 'images/location/grey/8.jpg' %}" alt="Серый зал">
        </div>
    </div>
</section>
{% endblock %}