{% extends "index.html" %}
{% load static %}

{% block content %}
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2">{{ header }}</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="price_item">
                    <div class="price_title">
                        <h5>Виктория Грушецкая</h5>
                    </div>
                    <div class="row price_list">
                        <div class="col-xl-12 col-lg-12 col-6">
                            <p>Базовый пакет</p>
                            <ul>
                                <li>4000 ₽</li>
                                <li>60 минут</li>
                                <li>25 обработанных фотографий</li>
                            </ul>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-6">
                            <p>Стандартный пакет</p>
                            <ul>
                                <li>5000 ₽</li>
                                <li>60 минут</li>
                                <li>35-40 обработанных фотографий</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="price_item">
                    <div class="price_title">
                        <h5>Анастасия Кузнецова</h5>
                    </div>
                    <div class="row price_list">
                        <div class="col-xl-12 col-lg-12 col-6">
                            <p>Базовый пакет</p>
                            <ul>
                                <li>4000 ₽</li>
                                <li>60 минут</li>
                                <li>25 обработанных фотографий</li>
                            </ul>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-6">
                            <p>Фото + макияж</p>
                            <ul>
                                <li>5000 ₽</li>
                                <li>60 минут</li>
                                <li>25 обработанных фотографий</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="price_item">
                    <div class="price_title">
                        <h5>Андрей Зинченко</h5>
                    </div>
                    <div class="row price_list">
                        <div class="col-xl-12 col-lg-12 col-6">
                            <p>Базовый пакет</p>
                            <ul>
                                <li>5000 ₽</li>
                                <li>60 минут</li>
                                <li>20-25 обработанных фотографий</li>
                            </ul>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-6">
                            <p>Стандартный пакет</p>
                            <ul>
                                <li>6000 ₽</li>
                                <li>60 минут</li>
                                <li>40-40 обработанных фотографий</li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <p>Максимальный пакет</p>
                            <ul>
                                <li>9000 ₽</li>
                                <li>120 минут</li>
                                <li>100 обработанных фотографий</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}